<span>
	<span class="fa" [ngClass]="{'fa-star-o': rating==0,'fa-star': true, 'fa-star-half': false}" sizer="{{size}}px"></span>
	<span class="fa" [ngClass]="{'fa-star-o': rating==0,'fa-star': true, 'fa-star-half': false}" sizer="{{size}}px"></span>
	<span class="fa" [ngClass]="{'fa-star-o': rating==0,'fa-star': true, 'fa-star-half': false}" sizer="{{size}}px"></span>
	<span class="fa" [ngClass]="{'fa-star-o': rating==0,'fa-star': true, 'fa-star-half': false}" sizer="{{size}}px"></span>
	<span class="fa" [ngClass]="{'fa-star-o': rating==0,'fa-star': true, 'fa-star-half': false}" sizer="{{size}}px"></span>
</span>