.navfooter> .color-primary {
	background-color: #007bff !important;
padding: 2rem;
color:white;
}

a{
	color: white;
	text-decoration: none;
}

.navfooter .icon-size{
	font-size: 35px;
}

.navfooter .lh-adjust{
	line-height: 2.4rem;
}