<footer class="navfooter">
	
	<div class="color-primary">
		<div class="row mb-4 ml-sm-3" style="margin-left: -0.3rem;">
			<a href="/">
				<img src="../../assets/images/logo.png" width="150" alt=""/>
			</a>
			<hr>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-3 col-sm-4">
				<p class="ml-sm-3 lh-adjust">
					<a href="#">Find Jobs</a>
					<br><a href="#">Create Job Alert</a>
					<br><a href="#">Company Reviews</a>
					<br><a href="#">Find Salaries</a>
					<br><a href="#">Find Resumes</a>
					<br><a href="#">Employers / Post Job</a>
				</p>
			</div>
			<div class=" col-xs-12 ml-sm-3 col-md-4 col-sm-7">
				<p>
					ABOUT US
				</p>
				<p class="text-justify">
					GetIn has become the catalyst for putting the world to work. We are intensely passionate about delivering the right fit for every hire.
					<br>
					<br> GetIn helps companies of all sizes hire the best talent and offers the best opportunity for job seekers to get hired.
				</p>
			</div>
			<div class="ml-sm-3 col-md-4 offset-md-1 col-sm-12">
				<p>
					SUBSCRIBE
				</p>
				<p >
					Get monthly updates and free resources.
				</p>
				<div>
					<div hidden="" class="align-center">
						Thanks for filling out the form!
					</div>
					<form class="form-inline" (click)="subscribe()">
						<span class="form-group">
							<input type="email" class="form-control my-2 ml-1" name="email" required="" placeholder="Email"/>
							
							<button href="" class="btn btn-light ml-1" type="submit" role="button">Subscribe</button>
						</span>
						
					</form>
				</div>
				<p class="mb-1 mt-3">
					CONNECT WITH US
				</p>
				<div class="icon-size pl-0 mb-0">
					<div>
						<a href="https://twitter.com" target="_blank" >
							<span class="fa fa-twitter-square"></span>
						</a>
						<a href="https://www.facebook.com" target="_blank" >
							<span class="fa fa-facebook-square"></span>
						</a>
						<a href="https://www.youtube.com/" target="_blank">
							<span class="fa fa-youtube-square"></span>
						</a>
						<a href="https://instagram.com/" target="_blank">
							<span class="fa fa-instagram"></span>
						</a>
						<a href="https://plus.google.com" target="_blank">
							<span class="fa fa-google-plus-square"></span>
						</a>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="col-sm-12">
			<hr>
			<p>
				&copy; Copyright 2018 Pratyush Mishra - All Rights Reserved
			</p>
		</div>
		
		
	</div>
</footer>