<div class="findjob">
	<div class="card ">
		
		<div class="card-body d-inline">
			<form class="form-inline" >
				
				
				<div class="input-group mr-2">
					<div class="input-group-prepend">
						<span class="input-group-text" id="job_search"><span sizer="1.5rem" class="fa fa-search"></span></span>
					</div>
					<input class="form-control" type="text" name="job_title" aria-label="Search" aria-describedby="job_search" placeholder="Enter Keywords" required=""  />
				</div>
				<div class="input-group mr-2 ">
					<div class="input-group-prepend">
						<span class="input-group-text" id="job_location"><span sizer="1.5rem" class="fa fa-map-marker"></span></span>
					</div>
					<input type="text" class="form-control" placeholder="Location" aria-label="Location" aria-describedby="job_location">
				</div>
				
				
				<button class="btn btn-success" type="submit"><span class="fa fa-search" sizer="20px" ></span>
				</button>
			</form>
			<div class=" filterset mt-2">
				<button class="btn btn-primary">Job Type</button>
				<button class=" containerbtn btn btn-primary">Date Posted <input id="date_picker" type="date" [(ngModel)]="search.postdate"></button>
				<button class="btn btn-primary">Distance</button>
				<button class="btn btn-primary float-right">Job Alert</button>
				<button class="btn btn-primary">More</button>
			</div>
		</div>
	</div>
	<div class="mjumbotron mjumbotron-fluid">
		<div class="job_container">
			<h6 class="mb-2">{{search_title}}</h6>
			
			
			
			<div class="row d-flex">
				<div id="1" class="col-md-5 job_list pr-0" sizer="0.8rem">
					<div class="card mb-1" *ngFor="let job of joblist">
						<div class="card-body">
							<div class="row">
								<div class="col-2 align-middle pr-0 mt-auto mb-auto">
									<img class="imgbox" [src]="job.logo" width="100%" />
								</div>
								<div class="col-10">
									<span class="fa fa-star-o float-right" style="color:grey;" sizer="1.2rem"></span>
									<span class="card-title">{{job.companyname}} | {{job.postname}}</span><br>
									<span class="float-left">{{job.place}}</span>
								</div>
								
							</div>
							<hr style="margin-top: 5px; margin-bottom: 0.5rem;">
							<p class="card-text text-justify">{{job.pitch}}</p>
							<a href="{{job.apply_link}}" *ngIf="job.easy_apply==true" class="card-link" ><button class="btn btn-primary" sizer="10px">Easy Apply</button></a>
							
						</div>
					</div>
				</div>
				<div id="2" class="col-md-7 job_preview">
					<div class="card ">
						<div class="card-body ">
							
							
							<div class="job_photo">
								<img [src]="selected.photo" width="100%"/>
								<span class="job_expired align-middle float-right" [hidden]="false">
									<img src="../../assets/images/expired.jpg" width="100px"/>
								</span>
							</div>
							
							<div class="row mt-3 ml-1">
								<div class="col-sm-8 title">{{selected.postname}}</div>
								<div class="col-sm-4 text-right">
									<button class="btn btn-primary" [hidden]="selected.applied||!selected.easy_apply">Easy Apply</button>
									<button class="btn btn-primary"[hidden]="selected.applied||selected.easy_apply">Apply</button>
									<button class="btn btn-primary"[hidden]="!selected.applied"> <span class=" fa fa-check-square-o"></span> Applied</button>
									<span class="ml-3 fa align-middle" [ngClass]="{'fa-star-o': false,'fa-star': true}" sizer="2rem"></span>
								</div>
								
							</div>
							<hr>
							<div class="ml-1">
								<div class="col-12">
									<review class="float-right align-middle" [size]="20"> </review>
									<span sizer="1.2em">{{selected.companyname}}</span>
									<p>{{selected.place}}</p>
								</div>
								
								<ul >
									<li>CTC : {{selected.ctc | currency : "INR"}}</li>
									<li>Work-Timings: {{selected.workinghrs}}</li>
									<li>Job Type : {{selected.job_type}}</li>
								</ul>
								
								<span class="text-primary">
									<ul class="nav nav-tabs">
										<li class="nav-link" [ngClass]="{'active': job_option===1}" (click)="job_option=1;">Job Description</li>
										<li class="nav-link" [ngClass]="{'active': job_option===2}" (click)="job_option=2;">Qualifications</li>
										<li class="nav-link" [ngClass]="{'active': job_option===3}" (click)="job_option=3;">Selection Process</li>
										<li class="nav-link" [ngClass]="{'active': job_option===4}" (click)="job_option=4;">Company</li>
										<li class="nav-link" [ngClass]="{'active': job_option===5}"  (click)="job_option=5;">Place</li>
										<li class="nav-link" [ngClass]="{'active': job_option===6}" (click)="job_option=6;">FAQ's</li>
										
										
									</ul>
								</span>
								
								<div class="ml-3 mt-3 text-justify">
									<div  [hidden]="job_option!==1">
										{{selected.jd}}
									</div>
									<div [hidden]="job_option!==2">
										{{selected.job_qual}}
									</div>
									<div [hidden]="job_option!==3">
										{{selected.selection_process}}
									</div>
									<div [hidden]="job_option!==4">
										Company details
									</div>
									<div [hidden]="job_option!==5">
										<iframe
										width="100%"
										height="250"
										frameborder="0" style="border:0"
										[src]="map_url" allowfullscreen>
										</iframe>
									</div>
									
								</div>
								
								<hr class="mt-3">
								
								<div class="col-12" sizer="0.8rem"> {{selected.applicant.length}} people applied for this job
									
									<span class="float-right">Posted On : {{selected.post_date | date : 'dd MMM yyyy'}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>