<Paragraph>Lorem ipsum dolor sit amet, consetetur
sadipscing elitr, sed diam <Person>nonumy</Person> eirmod tempor invidunt
ut labore et dolore magna aliquyam erat, <Person>sed</Person> diam
voluptua. </Paragraph>
<Paragraph>At vero eos et accusam et justo duo
dolores et ea rebum. Stet clita kasd gubergren, no sea
takimata sanctus est Lorem ipsum <Person>dolor</Person> sit amet. Lorem
ipsum dolor <Person>sit</Person> amet, consetetur sadipscing elitr, sed
diam nonumy eirmod tempor invidunt ut labore et dolore
magna aliquyam erat, sed diam voluptua.</Paragraph>